* {
    margin: 0;
    padding: 0;
}

.logo_img {
    margin-top: 45px;
}
.menu__bar {
    margin-top: 51px;
}

.top__content {
    margin-top: 95px;
}
.top__SEO {
    padding-top: 60px;
}

.top__pro {
    padding-top: 17px;
}

.top__button {
    margin-top: 37px;
}

.logo {
    margin-top: 97px;
}